body{
    background: white url("images/image.png") no-repeat;
    background-position: right bottom;
}

li a{
    color: green
}
div.left {
    width: 400px;
    float: left;
    
}

div.right {
    float : right;
    width : 100%;
    margin-left : -400px;
    padding-left : 400px;
    box-sizing : border-box;
    
}

.dropbox1{
    border: 2px solid rgb(140, 151, 53);
    width: 380px;
    padding:5px;
    margin: 10px;
    height :100%;
    overflow-y: scroll;
}
.dropbox2{
    height:80%;
    width: 90%;
    border: 2px solid rgb(167, 167, 223);
    overflow-y: scroll;
}
.partyBox{
    width:32%;
    height:45%;
    float:left;
    padding-bottom: 10px;
}
.partyHeader{
    text-align:center;
    color: rgb(167, 167, 223);
    width: 90%;
}

.test{
    white-space: nowrap;
    padding:10px;
    margin: 10px;
    border: 2px solid pink;
    overflow: auto;
    height :100%;

}

.playerBox{
    
    width :80%;
    padding:2px; 
    margin:2px; 
    
}

span{
    display:inline-block;

}
span.pData{
    display: inline;
}
span.buffBox{
    float:right;
    width:90%;
    height:50px;
    margin-right: 10px;
    margin-top : 10px;
    overflow-y: auto;
}