{% load static %}
<html>
    <head>
        <title>Party Caculator</title>
        
        
    </head>

    <style>
        table, td {
          border: 1px solid black;
        }
    </style>

    <body>
        
        <table id = "myTable">
        
            {% for party in parties %}
            <tr>
                <td>{{party.title}} </td>
            {% for player in players %} 
                    {% if player.party_id == party.id %}
                <td>{{player.title}}</td>
                {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
        </table><br>

        <div>
        <button onclick = "addCol()">길드원 추가</button>
        <button onclick="addRow()">파티 추가</button>
        <button onclick="delParty()">파티 삭제</button>
        <button onclick="delPlayer()">길드원 삭제</button>
    </div>

        <div>
            <form action = "" method="post">
                <p>
                    <strong>몇번째 파티?</strong>
                    <input type = "text" id = "party" name="p_party" value="파티 입력">
                </p>
                <p>
                    <strong>길드원 닉네임</strong>
                    <input type = "text" id = "name" name="p_name" value="캐릭터 닉네임 입력">
                </p>
                <!--
                    <select>
                        <option value="ark">아크</option>
                        <option value="kine">키네시스</option>
                        <option value="kaiser">카이저</option>
                    </select>
                -->
                <p>
                    <input type="submit" value="확인">
                </p>
            </form>
        </div>
        <!--
        <div> 
            {% for party in parties %}
                <p> {{party}} </p>
                {%for player in players %} 
                    {% if player.party_id == party.id %}
                        <p> {{player}}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        -->
        <div ondrop="drop(event)" ondragover="dragEnter(event)">
            <img id="clock" width="150" height="150"  src="https://image.flaticon.com/icons/svg/3154/3154187.svg" draggable="true" ondragstart="drag(event)">
        </div>
        <div ondrop="drop(event)" ondragover="dragEnter(event)"></div>
    
        <script>

            function addCol(){
                var firstrow = 
                document.getElementById('myTable').rows[0];
                var x = firstrow.insertCell(-1);
                x.innerHTML = "new col";
            }
            function addRow(){
                var rowno = document.getElementById('myTable').rows.length;
                var colno = 6;
                var table = 
                document.getElementById('myTable');
                var y = table.insertRow(rowno);
                var x1 = y.insertCell(-1);
                x1.innerHTML = "party";
                for (var i = 0; i<colno; i++){
                    var x = y.insertCell(-1);
                    x.innerHTML = "new row"
                }
                
            }
            function addCell(index, p_name){
                var selectedrow = 
                document.getElementById('myTable').rows[index-1];
                var x = firstrow.insertCell(-1);
                x.innerHTML = p_name;

            }

            function dragEnter(ev) {
                ev.preventDefault();
            }
    
            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }
    
            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
            }
        </script>
    </body>
</html>