<html>
    <head>
        <title>Player create</title>
        
        
    </head>
    <body>
        <form action = "{% url 'guild:add' %}" method="post" width = "400px">
            {% csrf_token %}
            <input type = "text" name = "p_imgSrc" value = "{{player.imgSrc}}">
            <br>
            <input type ="text" name = "p_name" value = "{{player.name}}">
            <br>
            <input type ="text" name = "p_character" value = "{{player.character}}">
            <br>
            <input type ="text" name = "p_level" value = "{{player.level}}">
            <br>
            <input type ="text" name = "p_mrFloor" value = "{{player.mrFloor}}">
            <br>
        <input type="submit" value = "Submit">    
        </form>
    </body>
</html>
