

<html>
    <head>
        <title>Party Caculator</title>
        {% load static %}
        <link rel= "stylesheet" type="text/css" href = "{% static 'parsed_data/style.css' %}">
        
    </head>
    <body>

        <div class = buttons>
            <button onclick="location.href='create'">추가</button>
            <button>파티 저장</button>

        </div>
        <div>
            
            <div class = left>
                <div class = dropbox1 ondrop="drop(event);" ondragover="dragEnter(event);">
                {% for player in players.0 %}

                <div >   
                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                            
                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                            
                            <span class = pData width="120px" height="45px">
                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                 </span>
                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                    </div>  
                    
                </div>
                {% endfor %}
                </div>  
            </div>
            
            
            <div class = right> 
                <div class = test>
                    <div class = partyBox>
                        <div class = partyHeader width>1파티</div>
                        <div class = dropbox2 id = p1 ondrop="drop(event);" ondragover="dragEnter(event);">
                            
                            {% for player in players.1 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                                 
                        </div>
                    </div>  
                    <div class = partyBox>
                        
                        <div class = partyHeader>2파티</div>
                        <div class = dropbox2 id = p2 ondrop="drop(event);" ondragover="dragEnter(event);">
                            
                            {% for player in players.2 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                        </div>  
                    </div>      
                    
                    <div class = partyBox>
                        
                        <div class = partyHeader>3파티</div>
                        <div class = dropbox2 id = p3 ondrop="drop(event);" ondragover="dragEnter(event);">
                            {% for player in players.3 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                        </div>  
                    </div>
                    <div class = partyBox>
                        <div class = partyHeader width>4파티</div>
                        <div class = dropbox2 id = p1 ondrop="drop(event);" ondragover="dragEnter(event);">
                            {% for player in players.4 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                        </div>
                    </div>  
                    <div class = partyBox>
                        
                        <div class = partyHeader>5파티</div>
                        <div class = dropbox2 id = p2 ondrop="drop(event);" ondragover="dragEnter(event);">
                            {% for player in players.5 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                        </div>  
                    </div>      
                    
                    <div class = partyBox>
                        
                        <div class = partyHeader>6파티</div>
                        <div class = dropbox2 id = p3 ondrop="drop(event);" ondragover="dragEnter(event);">
                            {% for player in players.6 %}
                
                                <div >   
                                    <div style= "padding:5px; margin:5px"id = "{{player.name}}" draggable="true" ondragstart="drag(event);">
                                            
                                            <span class = pData><img src="{{player.imgSrc}}" height="45px"></span>
                                            
                                            <span class = pData width="120px" height="45px">
                                                <a href="{% url 'guild:detail' player.id %}"> {{player.name}} </a>
                                                 </span>
                                            <span class = pData width="80px" height="45px">{{player.character}} </span>
                                            <span class = pData width="50px" height="45px">{{player.level}} </span>
                                            <span class = pData width="50px" height="45px">{{player.mrFloor}}</span>
                                            <span><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></span> 
                                    </div>  
                                    
                                </div>
                            {% endfor %}
                        </div>  
                    </div>        
                </div>  
    
                
            </div>
           
          
        </div>
        

        
        <script>
            function dragEnter(ev) {
                ev.preventDefault();
            }
    
            function drag(ev) {
                ev.dataTransfer.setData('text', ev.target.id);
            }
    
            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData('text');
                ev.target.appendChild(document.getElementById(data));
            }

        </script>

    </body>

</html>