

<html>
    <head>
        <title>Party Caculator</title>
        {% load static %}
        <link rel= "stylesheet" type="text/css" href = "{% static 'parsed_data/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        
    </head>
    <body>
        
        <div class = buttons>
            <button onclick="location.href='create'">추가</button>
            <button onclick="location.href='createByName'">이름으로추가</button>
            
            


        </div>
        <div>
            
            <div class = left>
                <div class = dropbox1 id=0 ondrop="drop(event);" ondragover="dragEnter(event);">
                    <!--<h1 ondragover="noAllowDrop(event);" style="width:1px; align-content: center; display:inline;"> Drop here </h1>-->
                {% for player in UCPlayers %}
                
                
                    <div class = playerBox id = {{player.id}} draggable="true" ondragstart="drag(event);" ondragover="noAllowDrop(event);" >        
                        <span>
                            <div><a href="{% url 'guild:detail' player.id %}" style = "font-size: x-small;">수정</a></div>
                            <div><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></div>
                        </span>                                       
                        <span class = pData><img src="{{player.imgSrc}}" height="30px"></span>
                        <span>
                            <span class = pData width="120px" style = "font-size: small;">{{player.name}}</span>
                            <span class = pData width="80px" style = "font-size: small;">{{player.character}} </span>
                            <br>
                            <span class = pData width="50px" style = "font-size: small;">{{player.level}} </span>
                            <span class = pData width="50px" style = "font-size: small;">{{player.mrFloor}}층</span>
                            <br>                            
                        </span>
                    </div>  
                    
                
                {% endfor %}
                </div>
                <div class = left>
                    <div class = dropbox1 id=0 ondrop="drop(event);" ondragover="dragEnter(event);">
                        <!--<h1 ondragover="noAllowDrop(event);" style="width:1px; align-content: center; display:inline;"> Drop here </h1>-->
                    {% for player in UCPlayers %}
                    
                    
                        <div class = playerBox id = {{player.id}} draggable="true" ondragstart="drag(event);" ondragover="noAllowDrop(event);" >        
                            <span>
                                <div><a href="{% url 'guild:detail' player.id %}" style = "font-size: x-small;">수정</a></div>
                                <div><a href = "{% url 'guild:delete' player.id %}" style = "font-size: x-small;">삭제</a></div>
                            </span>                                       
                            <span class = pData><img src="{{player.imgSrc}}" height="30px"></span>
                            <span>
                                <span class = pData width="120px" style = "font-size: small;">{{player.name}}</span>
                                <span class = pData width="80px" style = "font-size: small;">{{player.character}} </span>
                                <br>
                                <span class = pData width="50px" style = "font-size: small;">{{player.level}} </span>
                                <span class = pData width="50px" style = "font-size: small;">{{player.mrFloor}}층</span>
                                <br>                            
                            </span>
                        </div>  
                        
                    
                    {% endfor %}
                    </div>  
            </div>
           
          
        </div>
        

        
        <script>
            function noAllowDrop(ev) {
                ev.stopPropagation();
            }

            function dragEnter(ev) {
                ev.preventDefault();
            }
    
            function drag(ev) {
                ev.dataTransfer.setData('text', ev.target.id);
            }
    
            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData('text');
                draggedItem = document.getElementById(data);
                draggedItem.style.color = 'red';
                playerId = draggedItem.id 
                ev.target.appendChild(draggedItem);
                newPartyId = draggedItem.parentElement.id;
    
                
                $.ajax({
                    
                    type: "POST",
                    url: "{% url 'guild:changeParty' %}",
                    data: {
                    'player_id': playerId,
                    'party_id' : newPartyId,
                    },
                });
                console.log(playerId);
                console.log(newPartyId);
            }

            function resetParty(ev){

            }

            function saveParty(ev){
                
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        </script>

    </body>

</html>